@import "~bootstrap/scss/bootstrap.scss";

body{
    background-image: url(https://storage.googleapis.com/replit/images/1511936948186_53605a1f8e2f117b874504a42b735a7f.png);
    padding-bottom: 2%;
    
}
header{
    background: rgb(6, 6, 117);
    display: flex;
    justify-content: space-evenly;
    color:yellowgreen;
}
footer{
    background: rgb(6, 6, 117);
    display: flex;
    justify-content: space-evenly;
    color: yellowgreen;
    font-size: 40px;    
    }
   ol, li{
        border: 1px solid white
    }
#botones{
    width: 60%;
}
