@import "~bootstrap/scss/bootstrap.scss";

body{
    background: pink;
    
}
header{
    background: black;
    display: flex;
    justify-content: space-evenly;
    color:pink;
}
footer{
    background: black;
    display: flex;
    justify-content: space-evenly;
    color:pink;
    font-size: 60px;
    }
   ol, li{
        border: 1px solid white
    }
